// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

#dropdown {
  color: red;
}

#username {
  line-height: 50px;
}

